@import "colors";

body {
  font-size: 125%;
}

li {
  list-style: none;
  
}
ul, li,
h1, h2, 
h3, h4, 
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
} 


body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif; 
  background-color:$primaryColor;
}
p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
    line-height: 2rem;

}
a {
  // UNEVEN PADDING/HEIGHT ON FONT SO I USED SPECIFIC PADDING TO EVEN IT
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.45rem;

}

h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
    font-size: 2.25rem;
    letter-spacing: 1.3px;
    @include mq-tablet {
      font-size: 1.7rem;
    }
    


}
h1 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 3.45rem;

}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
}

.galleryImages, .natureSection, .giveContainer {
  padding: 100px 0;

}

.findBtn {
  color: #fff; 
  background-color: #0F0F0F;
  padding: 10px;
  transition: .2s ease-in-out;
  &:hover {
    background-color: $primaryColor;
    box-shadow: 0 5px $shadowColor;
  }
}

.readMoreBtn {
  transition: .2s ease-in-out;

  &:hover {
    background-color: $secondaryColor; 
    color: #fff;
    box-shadow: 0 5px $shadowColor;
  }
}

.findBtn, .readMoreBtn {
    padding: 20px 10px 15px 10px;
    display: inline-block;
    text-transform: uppercase;
}
