@import "colors";


.mainBG {
  background-image: url(../images/home-header.jpg);
}

.blogBG {
  background-image: url(../images/blog-header.jpg);
  background-position: center;
}

.contactBG {
  background-image: url(../images/contact-header.jpg);

}

.headerContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  min-height: 600px;
  margin: 0 auto;
  @include mq-sml-laptop {
    h1 {
      font-size: 5rem;
    }
    .headerTitle span {
      padding-top: 15px;
    }
    background-position: 30%;
  }
  @include mq-tablet {
    img {
      display: none;
    }
  }
  @include mq-mobile {
    background-position:40% 50%;
    min-height: 400px;
    height: 80vh;;
    h1 {
    font-size: 2.9rem;
    top:150px;
    position: relative;
    
    }
  }
}

.headerTitle {
  position: relative;
  left: -30px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 3rem;
  width: 20%;
  z-index: 10;
    span {
      display: inline-block;
      background: #fff;
      color:$innertextColor;
      padding-top: 25px;
      margin-bottom: 20px;
      width: auto;
  }
}

.headerContent h1{
  font-size: 400;
}

.headerNav {
  width: 50%;
  ul{
  display: flex;
  justify-content: space-between;
  margin:50px 0 100px 0; 
  max-width: 500px;
  li {
    padding: 10px;
  }
  a {
    transition: 0.2s ease-in-out;
    &:hover {
      box-shadow: 0px 3px $shadowColor;
    }
  }
  }
}

header img {
  position: absolute;
  right: 0; 
  width: 45%;
  bottom: -100px;
 z-index: 0;
}

.blogBG {
  @include mq-mobile {
    background-position: 30%;
  }
}
// hamburger icon

@include mq-mobile {

  .navMenu li{
    margin: 0 auto;
    display: none;
    width: 100%;
  }

  .navMenu {
      width: 100%;
  }
  .headerNav {
    width: 100%;
    flex-direction: column;
    
    ul {
      text-align: center;
      position: fixed;
      flex-direction: column;
      background: rgba($color: #0F0F0F, $alpha: 0.4);
      z-index: 30;
      margin: 0 auto;
      max-width: 100%;
      left: 0;
    }

    label {
      display: block;
      cursor: pointer;
      z-index: 31;
    }
  }

  #toggle:checked + .navMenu li {
    display: block;
  }
}
 
  .hamIcon {
    position: fixed;
    color: #0F0F0F;
    background-color: #fff;
    padding: 15px 15px 10px 15px;
    right: 30px;
    top: 30px;
    z-index: 1;
    font-size: 2rem;
    display: none;
    border-radius: 10px; 
    transition: 0.2s ease-in-out;
    &:hover {
      background: rgba($color: #fff, $alpha: 0.7)
    }
  }


#toggle {
  display: none;
}


// skip link

.skiplink {
  position: absolute;
  left:-1000px;
  top: 20px;
  z-index: 100;
  color: #fff;
}
