@import "colors";


.mainBG {
  background-image: url(../images/home-header.jpg);
}

.blogBG {
  background-image: url(../images/blog-header.jpg);
  background-position: center;
}

.contactBG {
  background-image: url(../images/contact-header.jpg);

}

.headerContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  min-height: 600px;
  margin: 0 auto;
  @include mq-sml-laptop {
    h1 {
      font-size: 5rem;
    }
    .headerTitle span {
      padding-top: 15px;
    }
    background-position: 30%;
  }
  @include mq-tablet {
    img {
      display: none;
    }
  }
  @include mq-mobile {
    background-position:10%;

    h1 {
    font-size: 3rem;
    top: -50px;
    position: relative;

    }
  }
}

.headerTitle {
  position: relative;
  left: -30px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 3rem;
  width: 20%;
  z-index: 10;
    span {
      display: inline-block;
      background: #fff;
      color:$innertextColor;
      padding-top: 25px;
      margin-bottom: 20px;
      width: auto;
  }
}

.headerContent h1{
  font-size: 400;
}

.headerNav {
  width: 50%;
  ul{
  display: flex;
  justify-content: space-between;
  margin:50px 0 100px 0; 
  li {
    padding: 10px;
  }
  }
}

header img {
  position: absolute;
  right: 0; 
  width: 45%;
  bottom: -100px;
 z-index: 0;
}
