@import "colors";
@import "generalstyle";
@import "footer";

.genflexContainer {
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
 .generalInfoText {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    width: 50%;
    margin-top: 30px;
    line-height: 2rem;
      i {
        background-color: $shadowColor;
        color: $innertextColor;
        margin-right: 20px;
        padding: 10px;
        height: 40px;
        border-radius: 50%;
      }
      p {
        max-width: 90%;
      }
  }

.textContainer {
    display: flex;
    flex-direction: column;
  }


// FEATURED MENU CONTENT BEGINS

  .menuItems {
  background-color: $secondaryColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;

}
.menuOption {
  display: flex;
}
// LEFT SECTION BURGURRRRRSSS

.leftTing {
  top:-30px;
  box-shadow: 20px 20px $shadowColor;
}

.trySomethingNew {
  margin-left: 10%;
  margin-top: 50px;
  text-align: right;
}

.trySomethingNew, .bestBurgersText {
  height: 300px;
  h2 {
    font-size: 2.5rem;
    margin:0;
    line-height: 58px;
  }
  p {
    font-family: 'Barlow', sans-serif;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  a {
    // UNEVEN PADDING ON FONT SO I USED SPECIFIC PADDING TO EVEN IT
    color: $innertextColor;
    background-color: $shadowColor;
    
  }
}

.menuOptionleft img, .menuOptionright img {
  height: auto;
  width: 100%;
  position: relative;
  object-fit: cover;
}

// TRY SOMETHING NEWWWW SECTION BEGINS BOTTOM SIDE

.menuOptionright, .menuOptionleft {
  width: 45%;
}
.menuOptionright {
  align-items: flex-start;
}
.bestBurgersText {
  margin-right: 15%;
    margin-top: 80px;
}

.rightTing {
  top: 100px;
  box-shadow: -20px 20px $shadowColor;

}

.giveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-transform: uppercase;
    color: $shadowColor;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.25rem;
    line-height: 4.5rem;
  }
  p {
    line-height: 2rem;
    max-width: 70%;
  }
  a {
    margin: 20px;
  }
}

.midSectionImage {
  background-image: url(../images/banner.jpg);
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.natureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // flex-wrap: wrap;

  width: 100%;
  img {
      box-shadow: -15px 15px 0px 5px $shadowColor;
      margin-right: 30px;

      height: 300px;
      max-width: 305px;

    }
}

.natureText {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 65%;
  
    h2 {
    text-transform: uppercase;
    color: $shadowColor;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.25rem;
    }
    
}

.galleryImages {
  background-color: $secondaryColor;
}
.galleryContent {
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  li {
  width: calc(33% - (4% / 3));
  min-width: 200px;
   
  }
  img {  
  width: 100%;
  }
}





// BLOG HTML STARTS HEREE 
.blogFlex {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 150px;
}
.blogmainFlex {
  

  .blogSubHead {
    margin-left: 25%;
    padding: 20px;
    background-color: $secondaryColor;
  }

  h3 {
    font-size: 1.25rem;
    color: $shadowColor;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
  }
  a {
   text-transform: lowercase;
    font-weight: 300;
   font-size: 1.2rem;
   transition: 0.2s ease-in-out;
   &:hover {
     color: $shadowColor;
   }
  }

  aside {
    width: 30%;
    

    img {
      width: 100%;
      display: block;
      box-shadow: 40px 20px 0 -20px $secondaryColor;

    }

    .blogSubHead {
    box-shadow: 20px 0px $secondaryColor;

    }
  }
}

.employmentRight {
    width: calc(70% - 110px);
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 400px 60px 60px 60px;

    
    .blogImage {
      position: absolute;
      margin-bottom: 5%;
      top:-300px;
      right:0;
        img {
        width: 100%;
        display: block;
      box-shadow: -10px 10px $shadowColor;
      }
    }
  }

  .employmentText {
      box-shadow: 10px 10px $shadowColor;
      padding: 0 50px 100px 0;
      margin-bottom: 100px;

    h2 {
      color: $shadowColor;
    }

    p:nth-of-type(1) {
      font-weight: 600;
    }
    p {
      margin: 20px 0;
    }
  }

  .customerComments {
    display: flex;
    flex-direction: row;
      margin: 50px 0;

    .commentDate {
      font-weight: 500;
      color: $shadowColor;
    }
    .commentImage {
      display: block;
      margin-right: 20px;
      img {
        padding-top: 10px;
      }
    }
  }

  .userInput {
    display: flex;
    justify-content: space-between;
    input:nth-of-type(1) {
      margin-left: 0;
    }
    input:nth-of-type(2){
      margin-right: 0;
    }
    input {
      width: calc(50% - 20px);
      margin: 20px 10px 30px 10px;
      color: #fff;
      padding: 20px;
      border: none;
      border-bottom: 2px solid $shadowColor;
      background-color: $primaryColor; 
  }
    
  }


  textarea {
      background-color: $primaryColor;
      border: solid 2px $shadowColor;
      color:#fff;
      outline: none;
      resize:none;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }

    button {
      width: 100%;
      text-transform: uppercase;
      padding: 15px 0 10px 0;
      text-align: center;
      background-color: $shadowColor;
      border: $shadowColor;
    }
// BLOG HTML ENDS HERE-------------------------
// ------------------------------------------------
// ----------------------------------------------

//CONTACT HTML BEGINS HERE
// ------------------------------------------------
// ------------------------------------------------
//------------------------------------------------

.contactBG {
  .headerTitle {
    width: 100%;
    left: 0;
  }
}

.contactSection {
  display: flex;
  flex-direction: row;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    li {
      margin-right: 20px;
      a {
      color: $shadowColor;

      }
    }
  }
  .contactEmail {
    padding: 20px 0;
  }

}

.contactInfo {
  margin-top: 100px;
  width:30%;
}

.formContact {
  width: 70%;
  box-shadow: 15px 15px $shadowColor;
  background-color: $secondaryColor;
  padding: 50px;
  top: -200px;
  position: relative;
  right: -50px;

  input,textarea {
    background-color: $secondaryColor;
  }
}

