@import "colors";
@import "generalstyle";
@import "footer";

.genflexContainer {
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  
  @include mq-mobile {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
    
    .generalInfoText {
      width: 100%;
      p {
        max-width: 100%;

      }
    }
  }
}
 .generalInfoText {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    width: 50%;
    margin-top: 30px;
    line-height: 2rem;
      i {
        background-color: $shadowColor;
        color: $innertextColor;
        margin-right: 20px;
        padding: 10px;
        height: 40px;
        border-radius: 50%;
      }
      p {
        max-width: 90%;
      }
  }

.textContainer {
    display: flex;
    flex-direction: column;
  }


// FEATURED MENU CONTENT BEGINS

  .menuItems {
  background-color: $secondaryColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  @include mq-mobile {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .trySomethingNew {
    text-align: center;

    }

    
  }

}
.menuOption {
  display: flex;
  
  
}
// LEFT SECTION BURGURRRRRSSS

.leftTing {
  top:-30px;
  box-shadow: 20px 20px $shadowColor;
  @include mq-tablet {
    top: 0;
    box-shadow: 0px 20px 0px -10px $shadowColor;
    
  }
}

.trySomethingNew {
  margin-left: 10%;
  margin-top: 50px;
  text-align: right;
  @include mq-tablet {
    text-align: left;
  }
  @include mq-mobile {
    margin:  0;
  }
 
}

.trySomethingNew, .bestBurgersText {
  @include mq-mobile {
    max-width: 90%;
    margin: 20px auto;
  }
  h2 {
    font-size: 2rem;
    margin:0;
    line-height: 58px;
  }
  p {
    font-family: 'Barlow', sans-serif;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  a {
    // UNEVEN PADDING ON FONT SO I USED SPECIFIC PADDING TO EVEN IT
    color: $innertextColor;
    background-color: $shadowColor;
    
  }
}

.menuOptionleft img, .menuOptionright img {
  height: auto;
  width: 100%;
  position: relative;
  object-fit: cover;
  @include mq-mobile {
    height: 60vw;
  }
}

// TRY SOMETHING NEWWWW SECTION BEGINS BOTTOM SIDE

.menuOptionright, .menuOptionleft {
  width: 45%;
  @include mq-mobile {
    width: 100%;
  }
}
.menuOptionright {
  align-items: flex-start;
  @include mq-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
.bestBurgersText {
  margin-right: 15%;
    margin-top: 80px;
  @include mq-tablet {
    margin-top: 20px;
    margin-right: 5%;
  }
}

.rightTing {
  top: 100px;
  box-shadow: -20px 20px $shadowColor;
  @include mq-mobile {
    top: 0;
    box-shadow: 0px 20px 0px -10px $shadowColor;
  }
}

.giveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-transform: uppercase;
    color: $shadowColor;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.25rem;
    line-height: 4.5rem;
    @include mq-mobile {
      text-align: center;
    }
  }
  p {
    line-height: 2rem;
    max-width: 70%;
    @include mq-mobile {
      max-width: 90%;
    }
  }
  a {
    margin: 20px;
  }
}

.midSectionImage {
  background-image: url(../images/banner.jpg);
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.natureContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // flex-wrap: wrap;
  width: 100%;

  @include mq-mobile {
      flex-direction: column;
      max-width: 90%;

      h2 {
        text-align: center;
      }

      a {
        margin: 0 auto;
      }
  } 
  img {
      box-shadow: -15px 15px 0px 5px $shadowColor;
      margin-right: 30px;
      height: 300px;
      max-width: 305px;
      @include mq-tablet{
        height: 200px;
        
      }
      @include mq-mobile {
      height: 100%;
      margin: 0 auto 50px auto;
          box-shadow: 0px 20px 0px -10px $shadowColor;


      }
    }
}

.natureText {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 65%;
  @include mq-mobile {
    width: 100%;
  }
  
    h2 {
    text-transform: uppercase;
    color: $shadowColor;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.25rem;
    }
    
}

.galleryImages {
  background-color: $secondaryColor;
}
.galleryContent {
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq-mobile {
      flex-direction: column;
      align-items: center;
      li {
        width: 70%;
        margin: 20px auto;
      }
    }
  }
  li {
  width: calc(33% - (4% / 3));
  min-width: 200px;
   
  }
  img {  
  width: 100%;
  }
}





// BLOG HTML STARTS HEREE 
.blogFlex {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  @include mq-tablet {
    flex-direction: column;


    .employmentText, .testimonialSec, .blogForm {
      max-width: 80%;
      margin:0 auto 50px auto;
      padding:0;
    }

  }
}
.blogmainFlex {
  

  .blogSubHead {
    margin-left: 25%;
    padding: 20px;
    background-color: $secondaryColor;
  }

  h3 {
    font-size: 1.25rem;
    color: $shadowColor;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
  }
  a {
   text-transform: lowercase;
    font-weight: 300;
   font-size: 1.2rem;
   transition: 0.2s ease-in-out;
   &:hover {
     color: $shadowColor;
   }
  }

  aside {
    width: 30%;
  padding-top: 150px;
  margin-bottom: 50px;
  @include mq-tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    order: 2;
    .blogSubHead {
      margin: 0;
    text-align: center;

    li {
      list-style: none;
    }

    }
  }
    

    img {
      width: 100%;
      display: block;
      box-shadow: 40px 20px 0 -20px $secondaryColor;
      @include mq-mobile {
        display: none;
      }

    }

    .blogSubHead {
    box-shadow: 20px 0px $secondaryColor;
    h3 {
      margin: 10px  0;
    }
    a {
    font-family: 'Barlow', sans-serif;
    text-align: left;
    }

    }
  }
}

.employmentRight {
    width: calc(70% - 110px);
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    position: relative;
      @include mq-tablet {
        width: 100%;
        margin: 0;
        .blogImage img{
          height: 50vw;
          object-fit: cover;
        }
      }  
    .blogImage {
      position: relative;
      margin-bottom: 5%;
      top:-100px;
      right:0;
        img {
        width: 100%;
        display: block;
      box-shadow: -10px 10px $shadowColor;
      @include mq-mobile {
    box-shadow: 0px 20px 0px -10px $shadowColor;

      }
      }
    }
  }

  .employmentText {
      box-shadow: 10px 10px $shadowColor;
      padding: 0 50px 100px 0;
      margin: 0 60px 100px 60px;
      @include mq-mobile {
    box-shadow: 0px 20px 0px -10px $shadowColor;
    text-align: center;

      }

    h2 {
      color: $shadowColor;
    }

    p:nth-of-type(1) {
      font-weight: 600;
    }
    p {
      margin: 20px 0;
    }
  }

  .testimonialSec, .blogForm {
    margin: 50px 0 0 60px;
    padding-right:100px;
  }
  .customerComments {
    display: flex;
    flex-direction: row;
      margin-top: 50px;

      @include mq-mobile {
        flex-direction:  column;
        align-items: center;
      }

    .commentDate {
      font-weight: 500;
      color: $shadowColor;
    }
    .commentImage {
      display: block;
      margin-right: 20px;
      img {
        padding-top: 10px;
      }
    }
  }

  .userInput {
    display: flex;
    justify-content: space-between;
    @include mq-mobile {
      flex-direction: column;
    }
    input:nth-of-type(1) {
      margin-left: 0;
    }
    input:nth-of-type(2){
      margin-right: 0;
    }
    input {
      width: calc(50% - 20px);
      margin: 20px 10px 30px 10px;
      color: #fff;
      padding: 20px;
      border: none;
      border-bottom: 2px solid $shadowColor;
      background-color: $primaryColor; 
      @include mq-mobile {
        margin: 0 auto 20px 0;
      width: 100%;
    }
  }
    
  }

  .blogForm {
    padding-bottom: 50px;
  }

  textarea {
      background-color: $primaryColor;
      border: solid 2px $shadowColor;
      color:#fff;
      outline: none;
      resize:none;
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      
    }

    button {
      width: 100%;
      text-transform: uppercase;
      padding: 15px 0 10px 0;
      text-align: center;
      background-color: $shadowColor;
      border: $shadowColor;
    }
// BLOG HTML ENDS HERE-------------------------
// ------------------------------------------------
// ----------------------------------------------

//CONTACT HTML BEGINS HERE
// ------------------------------------------------
// ------------------------------------------------
//------------------------------------------------

.contactBG {
  background-position:80%;
  .headerTitle {
    width: 100%;
    left: 0;
  }
}

.contactSection {
  display: flex;
  flex-direction: row;
  @include mq-mobile {
  max-width: 100%;
  width: 100%;
  }

  @include mq-tablet {
    flex-direction: column-reverse;
    align-items: center;

    .formContact {
      margin-top: 50px;
      position: static;
      width: 100%;
    
    }

    .contactInfo {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 50px;
      @include mq-mobile {
        flex-direction:  column;
        justify-content: center;

      }
    }

  }
  @include mq-mobile {
    .formContact {
    box-shadow: 0px 20px 0px -10px $shadowColor;
    width: 100%;
    padding: 20px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    @include mq-mobile {
      justify-content: center;
      align-content: center;
      width: 100%;
    }
    
    li {
      margin-right: 20px;
      @include mq-mobile {
        margin: 20px;
      }
      a {
      color: $shadowColor;

      }
    }
  }
  .contactEmail {
    padding: 20px 0;
  }



}

.contactInfo {
  margin-top: 100px;
  width:30%;
  @include mq-mobile {
    text-align: center;
  }
}

.formContact {
  width: 70%;
  box-shadow: 15px 15px $shadowColor;
  background-color: $secondaryColor;
  padding: 50px;
  top: -200px;
  position: relative;
  right: -50px;

  input,textarea {
    background-color: $secondaryColor;
  }
}

