article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 125%;
}

li {
  list-style: none;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2B331B;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.45rem;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 1.3px;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
}

.galleryImages, .natureSection, .giveContainer {
  padding: 100px 0;
}

.findBtn {
  color: #fff;
  background-color: #0F0F0F;
  padding: 10px;
}

.findBtn, .readMoreBtn {
  padding: 20px 10px 15px 10px;
  display: inline-block;
  text-transform: uppercase;
}

.mainBG {
  background-image: url(../images/home-header.jpg);
}

.blogBG {
  background-image: url(../images/blog-header.jpg);
  background-position: center;
}

.contactBG {
  background-image: url(../images/contact-header.jpg);
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 0 auto;
}

.headerTitle {
  position: relative;
  left: -30px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 3rem;
  width: 20%;
  z-index: 10;
}

.headerTitle span {
  display: inline-block;
  background: #fff;
  color: #0f0f0f;
  padding-top: 25px;
  margin-bottom: 20px;
  width: auto;
}

.headerContent h1 {
  font-size: 400;
}

.headerNav {
  width: 50%;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 100px 0;
}

.headerNav ul li {
  padding: 10px;
}

header img {
  position: absolute;
  right: 0;
  width: 45%;
  bottom: -100px;
  z-index: 0;
}

body {
  font-size: 125%;
}

li {
  list-style: none;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2B331B;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.45rem;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  letter-spacing: 1.3px;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  width: 80%;
  margin: 0 auto;
}

.galleryImages, .natureSection, .giveContainer {
  padding: 100px 0;
}

.findBtn {
  color: #fff;
  background-color: #0F0F0F;
  padding: 10px;
}

.findBtn, .readMoreBtn {
  padding: 20px 10px 15px 10px;
  display: inline-block;
  text-transform: uppercase;
}

.footerText {
  background-color: #0F0F0F;
}

.footerText p {
  text-align: center;
  padding: 5px;
}

.genflexContainer {
  padding-bottom: 100px;
  margin-top: 200px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalInfoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 300px;
  width: 50%;
  margin-top: 30px;
  line-height: 2rem;
}

.generalInfoText i {
  background-color: #FFD300;
  color: #0f0f0f;
  margin-right: 20px;
  padding: 10px;
  height: 40px;
  border-radius: 50%;
}

.generalInfoText p {
  max-width: 90%;
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuItems {
  background-color: #171B0E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.menuOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leftTing {
  top: -30px;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
}

.trySomethingNew {
  margin-left: 10%;
  margin-top: 50px;
  text-align: right;
}

.trySomethingNew, .bestBurgersText {
  height: 300px;
}

.trySomethingNew h2, .bestBurgersText h2 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 58px;
}

.trySomethingNew p, .bestBurgersText p {
  font-family: 'Barlow', sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.trySomethingNew a, .bestBurgersText a {
  color: #0f0f0f;
  background-color: #FFD300;
}

.menuOptionleft img, .menuOptionright img {
  height: auto;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuOptionright, .menuOptionleft {
  width: 45%;
}

.menuOptionright {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bestBurgersText {
  margin-right: 15%;
  margin-top: 80px;
}

.rightTing {
  top: 100px;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}

.giveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.giveContainer h2 {
  text-transform: uppercase;
  color: #FFD300;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.25rem;
  line-height: 4.5rem;
}

.giveContainer p {
  line-height: 2rem;
  max-width: 70%;
}

.giveContainer a {
  margin: 20px;
}

.midSectionImage {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.natureContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.natureContainer img {
  -webkit-box-shadow: -15px 15px 0px 5px #FFD300;
          box-shadow: -15px 15px 0px 5px #FFD300;
  margin-right: 30px;
  height: 300px;
  max-width: 305px;
}

.natureText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.natureText h2 {
  text-transform: uppercase;
  color: #FFD300;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.25rem;
}

.galleryImages {
  background-color: #171B0E;
}

.galleryContent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleryContent li {
  width: calc(33% - (4% / 3));
  min-width: 200px;
}

.galleryContent img {
  width: 100%;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 150px;
}

.blogmainFlex .blogSubHead {
  margin-left: 25%;
  padding: 20px;
  background-color: #171B0E;
}

.blogmainFlex h3 {
  font-size: 1.25rem;
  color: #FFD300;
}

.blogmainFlex li {
  list-style-type: disc;
  margin-left: 20px;
}

.blogmainFlex a {
  text-transform: lowercase;
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.blogmainFlex a:hover {
  color: #FFD300;
}

.blogmainFlex aside {
  width: 30%;
}

.blogmainFlex aside img {
  width: 100%;
  display: block;
  -webkit-box-shadow: 40px 20px 0 -20px #171B0E;
          box-shadow: 40px 20px 0 -20px #171B0E;
}

.blogmainFlex aside .blogSubHead {
  -webkit-box-shadow: 20px 0px #171B0E;
          box-shadow: 20px 0px #171B0E;
}

.employmentRight {
  width: calc(70% - 110px);
  margin-left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 400px 60px 60px 60px;
}

.employmentRight .blogImage {
  position: absolute;
  margin-bottom: 5%;
  top: -300px;
  right: 0;
}

.employmentRight .blogImage img {
  width: 100%;
  display: block;
  -webkit-box-shadow: -10px 10px #FFD300;
          box-shadow: -10px 10px #FFD300;
}

.employmentText {
  -webkit-box-shadow: 10px 10px #FFD300;
          box-shadow: 10px 10px #FFD300;
  padding: 0 50px 100px 0;
  margin-bottom: 100px;
}

.employmentText h2 {
  color: #FFD300;
}

.employmentText p:nth-of-type(1) {
  font-weight: 600;
}

.employmentText p {
  margin: 20px 0;
}

.customerComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px 0;
}

.customerComments .commentDate {
  font-weight: 500;
  color: #FFD300;
}

.customerComments .commentImage {
  display: block;
  margin-right: 20px;
}

.customerComments .commentImage img {
  padding-top: 10px;
}

.userInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userInput input:nth-of-type(1) {
  margin-left: 0;
}

.userInput input:nth-of-type(2) {
  margin-right: 0;
}

.userInput input {
  width: calc(50% - 20px);
  margin: 20px 10px 30px 10px;
  color: #fff;
  padding: 20px;
  border: none;
  border-bottom: 2px solid #FFD300;
  background-color: #2B331B;
}

textarea {
  background-color: #2B331B;
  border: solid 2px #FFD300;
  color: #fff;
  outline: none;
  resize: none;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  text-transform: uppercase;
  padding: 15px 0 10px 0;
  text-align: center;
  background-color: #FFD300;
  border: #FFD300;
}

.contactBG .headerTitle {
  width: 100%;
  left: 0;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.contactSection ul li {
  margin-right: 20px;
}

.contactSection ul li a {
  color: #FFD300;
}

.contactSection .contactEmail {
  padding: 20px 0;
}

.contactInfo {
  margin-top: 100px;
  width: 30%;
}

.formContact {
  width: 70%;
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
  background-color: #171B0E;
  padding: 50px;
  top: -200px;
  position: relative;
  right: -50px;
}

.formContact input, .formContact textarea {
  background-color: #171B0E;
}

.footerText {
  background-color: #0F0F0F;
}

.footerText p {
  text-align: center;
  padding: 5px;
}
